div(class="container")
    div(class="has-mw-xl mx-auto")
        div(class="pb-10 has-text-centered")
            a(class="navbar-item pl-0 mb-10 is-inline-block title is-size-4", href="index.html")
                img(src="images/logo-qwc.svg", alt="QWC Logo", width="132")
            ul(class="mb-10 is-flex is-justify-content-center")
                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="index.html") Home
                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="features.html") Features
                li
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="community.html") Community & Support
            div(class="is-flex is-justify-content-center is-align-items-center")
                a(class="mr-10", href="#")
                    img(src="cronos-assets/logos/brands/facebook.svg", alt="")
                |
                a(class="mr-10", href="#")
                    img(src="cronos-assets/logos/brands/twitter.svg", alt="")
                |
                a(class="mr-10", href="#")
                    img(src="cronos-assets/logos/brands/Instagram.svg", alt="")
                |
                a(class="mr-10", href="#")
                    img(src="cronos-assets/logos/brands/github.svg", alt="")
                |
                a(href="#")
                    img(src="cronos-assets/logos/brands/LinkedIn.svg", alt="")
        p(class="has-text-grey-dark is-size-7 pt-10 has-text-centered") All rights reserved © QWC 2026
