div(class="container")
    div(class="has-mw-xl mx-auto")
        div(class="pb-10 has-text-centered")
            a(class="navbar-item pl-0 mb-10 is-inline-block title is-size-4", href="/")
                img(src="images/logo-qwc.svg", alt="QWC Logo", width="132")
            ul(class="mb-10 is-flex is-justify-content-center")
                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="/") Home
                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="features.html") Features
                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="customization.html") Customization & Extensibility
                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="community.html") Community & Support
                li
                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="https://qwc-services.github.io/") Documentation
            div(class="is-flex is-justify-content-center is-align-items-center")
                a(class="mr-10", href="#")
                    img(src="cronos-assets/logos/brands/github.svg", alt="GitHub", style="width: 20px; height: 20px;")
                |
                a(class="mr-10", href="#")
                    img(src="cronos-assets/logos/brands/LinkedIn.svg", alt="LinkedIn", style="width: 20px; height: 20px;")
                |
                a(class="mr-10", href="#")
                    img(src="cronos-assets/logos/brands/bluesky.svg", alt="Bluesky", style="width: 20px; height: 20px;")
