div(class="mb-10 is-flex is-align-items-center")
    a(class="navbar-item mr-auto title is-size-4 pl-0 is-flex is-align-items-center", href="/", style="gap: 0.8rem;")
        img(src="images/logo-qwc.svg", alt="QWC Logo", width="168")
        span(class="has-text-weight-bold", style="font-size: 1rem; letter-spacing: -0.01em; color: #1f2937; line-height: 1.1;") QGIS Web Client
    button(class="navbar-close button is-text p-0 mb-2", type="button", aria-label="Close")
        svg(xmlns="http://www.w3.org/2000/svg", style="width: 18px; height: 18px;", fill="none", viewbox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
