a(class="navbar-item", href="index.html") Home
div(class="navbar-item has-dropdown is-hoverable")
    a(class="navbar-link", href="features.html") Features
    div(class="navbar-dropdown")
        a(class="navbar-item", href="features.html#map-visualization") Core Map Experience
        a(class="navbar-item", href="features.html#data-analysis") Data Interaction & Editing
        a(class="navbar-item", href="features.html#search-discovery") Analysis & Advanced Tools
        a(class="navbar-item", href="features.html#integration-interoperability") Integration & Architecture
        a(class="navbar-item", href="features.html#administration-security") Security & User Management
        a(class="navbar-item", href="features.html#platform-lifecycle") Deployment, Extensibility & Ecosystem
        a(class="navbar-item", href="features.html#platform-design") Modular Architecture
div(class="navbar-item has-dropdown is-hoverable")
    a(class="navbar-link", href="customization.html") Customization & Extensibility
    div(class="navbar-dropdown")
        a(class="navbar-item", href="customization.html#what-you-can-build") What You Can Build
        a(class="navbar-item", href="customization.html#case-studies") Case Studies
div(class="navbar-item has-dropdown is-hoverable")
    a(class="navbar-link", href="community.html") Community & Support
    div(class="navbar-dropdown")
        a(class="navbar-item", href="community.html#conferences") Conferences
        a(class="navbar-item", href="community.html#forums-user-groups") Forums & User Groups
        a(class="navbar-item", href="community.html#support") Support
a(class="navbar-item", href="https://qwc-services.github.io/") Documentation
