a(class="navbar-item", href="index.html") Home
|
a(class="navbar-item", href="features.html") Features
|
a(class="navbar-item", href="community.html") Community & Support
|
a(class="navbar-item", href="https://qwc-services.github.io/") Documentation
