a(class="navbar-item", href="index.html") Home
div(class="navbar-item has-dropdown is-hoverable")
    a(class="navbar-link", href="features.html") Features
    div(class="navbar-dropdown")
        a(class="navbar-item", href="features.html#map-interaction") Map & Interaction
        a(class="navbar-item", href="features.html#search-analysis") Search & Analysis
        a(class="navbar-item", href="features.html#printing-export") Print, Export & Share
        a(class="navbar-item", href="features.html#editing-workflows") Editing & Workflows
        a(class="navbar-item", href="features.html#views") 3D & Street View
        a(class="navbar-item", href="features.html#users-permissions") Users & Access Management
        a(class="navbar-item", href="features.html#advanced-capabilities") Configure, Customize & Extend
div(class="navbar-item has-dropdown is-hoverable")
    a(class="navbar-link", href="customization.html") Customization & Extensibility
    div(class="navbar-dropdown")
        a(class="navbar-item", href="customization.html#what-you-can-build") What You Can Build
        a(class="navbar-item", href="customization.html#case-studies") Case Studies
div(class="navbar-item has-dropdown is-hoverable")
    a(class="navbar-link", href="community.html") Community & Support
    div(class="navbar-dropdown")
        a(class="navbar-item", href="community.html#conferences") Conferences
        a(class="navbar-item", href="community.html#forums-user-groups") Forums & User Groups
        a(class="navbar-item", href="community.html#support") Support
a(class="navbar-item", href="https://qwc-services.github.io/") Documentation
