nav(class="mobile-bottom-nav is-hidden-desktop", aria-label="Mobile bottom navigation")
    a(class="mobile-bottom-nav-item", href="/", data-mobile-nav="home")
        span(class="mobile-bottom-nav-icon") Home
    a(class="mobile-bottom-nav-item", href="features.html", data-mobile-nav="features")
        span(class="mobile-bottom-nav-icon") Features
    a(class="mobile-bottom-nav-item", href="customization.html", data-mobile-nav="customization")
        span(class="mobile-bottom-nav-icon") Custom
    a(class="mobile-bottom-nav-item", href="community.html", data-mobile-nav="community")
        span(class="mobile-bottom-nav-icon") Community
    button(class="mobile-bottom-nav-item mobile-bottom-menu-open", type="button", aria-label="Open menu", data-mobile-nav="menu")
        span(class="mobile-bottom-nav-icon") Menu
