doctype html
html(lang="en")
    head
        title QWC - Community & Support
        include includes/head.pug
    body
        div(class="")
            nav(class="navbar has-background-white py-5")
                div(class="container is-fluid")
                    include includes/navbar-logo.pug
                    div(class="navbar-menu")
                        div(class="navbar-end")
                            include includes/menu.pug
                div(class="is-hidden navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-sm", style="width: 75%; z-index: 9999;")
                    div(class="navbar-backdrop is-fixed is-inset-0 has-background-primary", style="opacity: 90%;")
                    nav(class="navbar is-light is-relative is-flex is-flex-direction-column px-6 py-6 has-background-white", style="width: 100%; height: 100%; overflow-y: auto")
                        include includes/hamburger-logo.pug
                        div
                            div(class="is-flex-direction-column")
                                include includes/menu.pug
            section(class="section")
                h2(class="title is-2 is-spaced") Community
                div(class="container")
                    div(class="columns is-multiline")
                        div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                        path(d="M14 40H40", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M8 40V34L34 8L40 14L14 40H8Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M34 20L28 14", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="mt-6 mb-4 is-size-4") International
                                p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                        path(d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M16 23L22 29L34 17", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="mt-6 mb-4 is-size-4") Regional
                                p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-4-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                        path(d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M42 23.9999C42.006 28.6858 40.1784 33.1881 36.908 36.5439C35.2324 38.2727 33.2261 39.6466 31.0086 40.5839C28.791 41.5213 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5213 16.9914 40.5839C14.7739 39.6466 12.7676 38.2727 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0085C5.89036 26.1757 5.77815 23.1846 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42905 17.2309 7.31994C19.9638 6.21082 22.9273 5.79021 25.8608 6.0951C28.7943 6.39999 31.608 7.42105 34.0543 9.06846C36.5006 10.7159 38.5047 12.9392 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7626 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5147 29.9981 28.9944 30.5897 31.2374 31.7268C33.4803 32.8639 35.4232 34.5144 36.908 36.544", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="mt-6 mb-4 is-size-4") Discussion
                                p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section has-background-primary")
                h2(class="title is-2 is-spaced") Commercial support
                div(class="container")
                    div(class="columns is-multiline")
                        div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                        path(d="M14 40H40", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M8 40V34L34 8L40 14L14 40H8Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M34 20L28 14", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="has-text-white mt-6 mb-4 is-size-4") Change of access
                                p(class="subtitle has-text-light") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                        path(d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M16 23L22 29L34 17", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="has-text-white mt-6 mb-4 is-size-4") Security in savings
                                p(class="subtitle has-text-light") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-4-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                        path(d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M42 23.9999C42.006 28.6858 40.1784 33.1881 36.908 36.5439C35.2324 38.2727 33.2261 39.6466 31.0086 40.5839C28.791 41.5213 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5213 16.9914 40.5839C14.7739 39.6466 12.7676 38.2727 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0085C5.89036 26.1757 5.77815 23.1846 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42905 17.2309 7.31994C19.9638 6.21082 22.9273 5.79021 25.8608 6.0951C28.7943 6.39999 31.608 7.42105 34.0543 9.06846C36.5006 10.7159 38.5047 12.9392 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5148 29.9981 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="has-text-white mt-6 mb-4 is-size-4") List of regular users
                                p(class="subtitle has-text-light") Take care to develop resources continually and integrity them with previous projects.
            section(class="section")
                h2(class="title is-2 is-spaced") Developers
                div(class="container")
                    div(class="columns is-multiline")
                        div(class="column is-12 is-4-desktop is-6-tablet mb-12")
                            div
                                svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M32.117 40H27.8293C27.4175 38.8348 26.3062 38 25 38H23C21.3431 38 20 39.3431 20 41C20 42.6568 21.3431 44 23 44H25C26.3062 44 27.4175 43.1652 27.8293 42H32.117C34.2691 42 36.1798 40.6228 36.8604 38.5811L37.3162 37.2136C37.5578 36.4888 38.236 36 39 36C41.7614 36 44 33.7614 44 31V25C44 22.2385 41.7614 20 39 20H38V17.9688C38 10.2368 31.732 3.96875 24 3.96875C16.268 3.96875 10 10.2368 10 17.9688V20H9C6.23858 20 4 22.2385 4 25V31C4 33.7614 6.23858 36 9 36H13C13.5523 36 14 35.5523 14 35V21C14 20.4477 13.5523 20 13 20H12V17.9688C12 11.3413 17.3726 5.96875 24 5.96875C30.6274 5.96875 36 11.3413 36 17.9688V20H35C34.4477 20 34 20.4477 34 21V35C34 35.5523 34.4477 36 35 36H35.6682C35.5701 36.1842 35.4865 36.3783 35.4189 36.5811L34.963 37.9487C34.5547 39.1737 33.4083 40 32.117 40ZM12 22V34H9C7.34315 34 6 32.6568 6 31V25C6 23.3431 7.34315 22 9 22H12ZM36 22V34H39C40.6569 34 42 32.6568 42 31V25C42 23.3431 40.6569 22 39 22H36ZM23 42C22.4477 42 22 41.5523 22 41C22 40.4477 22.4477 40 23 40H25C25.5523 40 26 40.4477 26 41C26 41.5523 25.5523 42 25 42H23Z", fill="#006251")
                                h6(class="mt-6 mb-5 title is-4") Neque porro quisquam est
                                ul(class="has-text-grey-dark")
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Etiam pellentesque non nibh
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Mauris posuere
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Tellus sit amet tempus vestibulum
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Erat augue imperdiet neque
                        div(class="column is-12 is-4-desktop is-6-tablet mb-12")
                            div
                                svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M16 38.0003V41C16 41.5523 15.5523 42 15 42C14.4477 42 14 41.5523 14 41V38.0002L11.9999 38C10.8954 37.9999 10.0001 37.1045 10.0001 36L10 32C10 30.8954 10.8954 30 12 30H14V7C14 6.44772 14.4477 6 15 6C15.5523 6 16 6.44772 16 7V30H18.0623C19.1669 30 20.0623 30.8954 20.0623 32L20.0624 36.0005C20.0624 37.1051 19.1669 38.0005 18.0623 38.0005L16 38.0003ZM26 41V20.0003L28.0623 20.0005C29.1669 20.0005 30.0624 19.1051 30.0624 18.0005L30.0623 14C30.0623 12.8954 29.1669 12 28.0623 12H26V7C26 6.44772 25.5523 6 25 6C24.4477 6 24 6.44772 24 7V12H22C20.8954 12 20 12.8954 20 14L20.0001 18C20.0001 19.1045 20.8954 19.9999 21.9999 20L24 20.0002V41C24 41.5523 24.4477 42 25 42C25.5523 42 26 41.5523 26 41ZM36 41V32.0003L38.0623 32.0005C39.1669 32.0005 40.0624 31.1051 40.0624 30.0005L40.0623 26C40.0623 24.8954 39.1669 24 38.0623 24H36V7C36 6.44772 35.5523 6 35 6C34.4477 6 34 6.44772 34 7V24H32C30.8954 24 30 24.8954 30 26L30.0001 30C30.0001 31.1045 30.8954 31.9999 31.9999 32L34 32.0002V41C34 41.5523 34.4477 42 35 42C35.5523 42 36 41.5523 36 41ZM18.0624 36.0005L12 36V32H18.0624V36.0005ZM22 18L28.0624 18.0005V14H22V18ZM38.0624 30.0005L32 30V26H38.0624V30.0005Z", fill="#006251")
                                h6(class="mt-6 mb-5 title is-4") Neque porro quisquam est
                                ul(class="has-text-grey-dark")
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Etiam pellentesque non nibh
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Mauris posuere
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Tellus sit amet tempus vestibulum
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Erat augue imperdiet neque
                        div(class="column is-12 is-4-desktop is-6-tablet mb-12")
                            div
                                svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M3.99951 23.9994C3.99951 12.9534 12.9535 3.99939 23.9995 3.99939C35.0455 3.99939 43.9995 12.9534 43.9995 23.9994C43.9995 35.0454 35.0455 43.9994 23.9995 43.9994C12.9535 43.9994 3.99951 35.0454 3.99951 23.9994ZM30.1555 29.8814L37.0695 33.0234C37.7275 33.3234 38.3055 33.7574 38.7695 34.2914C40.8055 31.3734 41.9995 27.8254 41.9995 23.9994C41.9995 14.0594 33.9415 5.99939 23.9995 5.99939C14.0595 5.99939 5.99951 14.0594 5.99951 23.9994C5.99951 27.8254 7.19351 31.3734 9.23151 34.2914C9.69551 33.7574 10.2735 33.3234 10.9315 33.0234L17.8455 29.8814C15.5035 28.0514 13.9995 25.2014 13.9995 21.9994C13.9995 16.4774 18.4775 11.9994 23.9995 11.9994C29.5235 11.9994 33.9995 16.4774 33.9995 21.9994C33.9995 25.2014 32.4955 28.0514 30.1555 29.8814ZM23.9995 13.9994C19.5815 13.9994 15.9995 17.5814 15.9995 21.9994C15.9995 26.4174 19.5815 29.9994 23.9995 29.9994C28.4175 29.9994 31.9995 26.4174 31.9995 21.9994C31.9995 17.5814 28.4175 13.9994 23.9995 13.9994ZM23.9995 41.9994C18.6255 41.9994 13.8035 39.6454 10.5035 35.9114C10.8115 35.4494 11.2435 35.0774 11.7595 34.8454L19.9235 31.1334C21.1675 31.6894 22.5475 31.9994 23.9995 31.9994C25.4515 31.9994 26.8315 31.6894 28.0775 31.1334L36.2415 34.8454C36.7555 35.0774 37.1875 35.4494 37.4955 35.9114C34.1975 39.6454 29.3735 41.9994 23.9995 41.9994Z", fill="#006251")
                                h6(class="mt-6 mb-5 title is-4") Neque porro quisquam est
                                ul(class="has-text-grey-dark")
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Etiam pellentesque non nibh
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Mauris posuere
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Tellus sit amet tempus vestibulum
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Erat augue imperdiet neque
                        div(class="column is-12 is-4-desktop is-6-tablet mb-12 mb-0-desktop")
                            div
                                svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M32 10H36C37.1046 10 38 10.8954 38 12V16C38 17.1046 37.1046 18 36 18H32C30.8954 18 30 17.1046 30 16V12C30 10.8954 30.8954 10 32 10ZM32 12V16H36V12H32Z", fill="#006251")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M19 6H37C39.7614 6 42 8.23858 42 11V29C42 31.7614 39.7614 34 37 34H36.8331C36.2329 35.4358 34.9886 36.5337 33.4319 36.9228L17.1769 40.9864C14.4292 41.6213 11.7338 39.9602 11.1097 37.2558L6.90887 19.0522C6.29591 16.396 7.92355 13.7384 10.5682 13.0772L14 12.2192V11C14 8.23858 16.2386 6 19 6ZM19 34H34.5185C34.1203 34.4752 33.5763 34.8252 32.9468 34.9825L16.7093 39.0419C15.05 39.4252 13.4329 38.4286 13.0585 36.8061L8.85766 18.6025C8.48988 17.0088 9.46646 15.4142 11.0532 15.0175L14 14.2808V29C14 31.7614 16.2386 34 19 34ZM40 26.5858V11C40 9.34315 38.6569 8 37 8H19C17.3431 8 16 9.34315 16 11V22.5858L20.2929 18.2929C20.6834 17.9024 21.3166 17.9024 21.7071 18.2929L29.1274 25.7132L34.4453 22.1679C34.8419 21.9035 35.37 21.9558 35.7071 22.2929L40 26.5858ZM34.8726 24.2868L39.975 29.3892C39.7842 30.8622 38.525 32 37 32H19C17.3431 32 16 30.6568 16 29V25.4142L21 20.4142L28.2929 27.7071C28.63 28.0441 29.1581 28.0964 29.5547 27.832L34.8726 24.2868Z", fill="#006251")
                                h6(class="mt-6 mb-5 title is-4") Neque porro quisquam est
                                ul(class="has-text-grey-dark")
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Etiam pellentesque non nibh
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Mauris posuere
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Tellus sit amet tempus vestibulum
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Erat augue imperdiet neque
                        div(class="column is-12 is-4-desktop is-6-tablet mb-12 mb-0-tablet")
                            div
                                svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M2 13V36C2 40.4183 5.58172 44 10 44H45C45.5523 44 46 43.5523 46 43V13C46 12.4477 45.5523 12 45 12H12V5C12 4.33333 11.5 4 11 4C6.02944 4 2 8.02944 2 13ZM20 20.5858L17.4143 18H22.5858L20 20.5858ZM33.4143 18L36 20.5858L38.5858 18H33.4143ZM32 24.5858V19.4143L34.5858 22L32 24.5858ZM40 24.5858V19.4143L37.4143 22L40 24.5858ZM38.5858 26L36 23.4143L33.4143 26H38.5858ZM16 19.4143V24.5858L18.5858 22L16 19.4143ZM24 19.4143V24.5858L21.4143 22L24 19.4143ZM22.5858 26L20 23.4143L17.4143 26H22.5858ZM4 30.7083C5.46589 29.0475 7.61061 28 10 28V6.07084C6.60771 6.55607 4 9.47348 4 13V30.7083ZM12 29V14H44V42H10C6.68629 42 4 39.3137 4 36C4 32.6863 6.68629 30 10 30H11C11.5523 30 12 29.5523 12 29ZM17 16H23C24.6569 16 26 17.3431 26 19V25C26 26.6569 24.6569 28 23 28H17C15.3431 28 14 26.6569 14 25V19C14 17.3431 15.3431 16 17 16ZM42 19C42 17.3431 40.6569 16 39 16H33C31.3431 16 30 17.3431 30 19V25C30 26.6569 31.3431 28 33 28H39C40.6569 28 42 26.6569 42 25V19ZM15 34C14.4477 34 14 33.5523 14 33C14 32.4477 14.4477 32 15 32H29C29.5523 32 30 32.4477 30 33C30 33.5523 29.5523 34 29 34H15ZM14 37C14 37.5523 14.4477 38 15 38H31C31.5523 38 32 37.5523 32 37C32 36.4477 31.5523 36 31 36H15C14.4477 36 14 36.4477 14 37Z", fill="#006251")
                                h6(class="mt-6 mb-5 title is-4") Neque porro quisquam est
                                ul(class="has-text-grey-dark")
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Etiam pellentesque non nibh
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Mauris posuere
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Tellus sit amet tempus vestibulum
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Erat augue imperdiet neque
                        div(class="column is-12 is-4-desktop is-6-tablet")
                            div
                                svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M17.9061 35.9693C17.4548 38.2668 15.4298 40 13 40H9.00001C8.44772 40 8.00001 39.5523 8.00001 39V35C8.00001 32.5702 9.73317 30.5452 12.0307 30.0939L12.0543 29.4083C12.0943 28.249 12.2137 27.1112 12.4071 26H5.00001C4.29255 26 3.80879 25.2854 4.07153 24.6286L8.07153 14.6286C8.2234 14.2489 8.5911 14 9.00001 14H18C18.0508 14 18.1007 14.0038 18.1494 14.0111C22.8582 8.64289 29.8494 5.35389 37.5426 5.61918C38.7639 5.66129 39.9805 5.79416 41.1821 6.01669C41.5893 6.09209 41.9079 6.41068 41.9833 6.81788C43.6244 15.6798 40.3045 24.3116 33.9895 29.8542C33.9964 29.9018 34 29.9504 34 30V39C34 39.4089 33.7511 39.7766 33.3714 39.9284L23.3714 43.9284C22.7145 44.1912 22 43.7074 22 43V35.5898C20.8736 35.7873 19.7348 35.9063 18.5917 35.9457L17.9061 35.9693ZM15.975 35.3891L12.6108 32.0249C11.1378 32.2158 10 33.475 10 34.9999V37.9999H13C14.525 37.9999 15.7842 36.8621 15.975 35.3891ZM24 41.523V35.154C26.9427 34.3851 29.6358 33.1042 32 31.4265V38.323L24 41.523ZM12.8416 24C13.6041 21.0829 14.8852 18.3829 16.5775 16H9.67705L6.47705 24H12.8416ZM18.5228 33.9468L17.3998 33.9856L14.0144 30.6001L14.0531 29.4772C14.4843 16.9735 24.97 7.18682 37.4737 7.61798C38.3644 7.64869 39.2524 7.73195 40.133 7.86723C41.9915 19.9199 33.9404 31.3458 21.867 33.5816C20.7629 33.7861 19.6451 33.9082 18.5228 33.9468ZM28 26C24.6863 26 22 23.3137 22 20C22 16.6863 24.6863 14 28 14C31.3137 14 34 16.6863 34 20C34 23.3137 31.3137 26 28 26ZM32 20C32 22.2091 30.2091 24 28 24C25.7909 24 24 22.2091 24 20C24 17.7908 25.7909 16 28 16C30.2091 16 32 17.7908 32 20Z", fill="#006251")
                                h6(class="mt-6 mb-5 title is-4") Neque porro quisquam est
                                ul
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Etiam pellentesque non nibh
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Mauris posuere
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Tellus sit amet tempus vestibulum
                                    li
                                        a(class="button is-ghost pl-0 has-text-grey-dark", href="#") Erat augue imperdiet neque
            section(class="section")
                include includes/footer.pug
