doctype html
html(lang="en")
    head
        title QWC - Features
        include includes/head.pug
    body
        div(class="")
            nav(class="navbar has-background-white py-5")
                div(class="container is-fluid")
                    include includes/navbar-logo.pug
                    div(class="navbar-menu")
                        div(class="navbar-end")
                            include includes/menu.pug
                div(class="is-hidden navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-sm", style="width: 75%; z-index: 9999;")
                    div(class="navbar-backdrop is-fixed is-inset-0 has-background-primary", style="opacity: 90%;")
                    nav(class="navbar is-light is-relative is-flex is-flex-direction-column px-6 py-6 has-background-white", style="width: 100%; height: 100%; overflow-y: auto")
                        include includes/hamburger-logo.pug
                        div
                            div(class="is-flex-direction-column")
                                include includes/menu.pug
            section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline is-align-items-center")
                        div(class="column is-12 is-6-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop")
                                h3(class="mb-14 title is-size-3") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle mb-0") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle mb-0") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle mb-0") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-6-desktop")
                            img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1478860409698-8707f313ee8b?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwzfHxtYXB8ZW58MHx8fHwxNzczNDg3ODIyfDA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
            section(class="section has-background-light")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-7-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-xl mr-auto-desktop")
                                img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1717700299581-c2fc3fad4ee8?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwyNHx8bWFwcGluZ3xlbnwwfHx8fDE3NzM0ODc5Njd8MA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
                        div(class="column is-12 is-5-desktop")
                            div(class="has-mw-md-desktop mx-auto")
                                h3(class="mb-14 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section")
                include includes/footer.pug
