html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inter:400&subset=latin")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/bulma/bulma.min.css")
        link(rel="icon", type="image/vnd.microsoft.icon", href="images/favicon.ico")
        script(src="js/main.js")
    body
        div(class="")
            nav(class="navbar has-background-white py-5")
                div(class="container is-fluid")
                    div(class="navbar-brand d-flex is-justify-content-space-between")
                        a(class="navbar-item title is-size-4 mb-0 pl-0", href="#")
                            img(src="cronos-assets/logos/cronos-logo.svg", alt="", width="132")
                        button(class="button is-ghost is-hidden-desktop navbar-menu-open")
                            svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                path(fill-rule="evenodd", clip-rule="evenodd", d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z", fill="#006251")
                    div(class="navbar-menu")
                        div(class="navbar-end")
                            a(class="navbar-item", href="#") About
                            |               
                            a(class="navbar-item", href="#") Company
                            |               
                            a(class="navbar-item", href="#") Services
                            |               
                            a(class="navbar-item", href="#") Testimonials
                            div(class="is-hidden-touch navbar-item pr-0")
                                a(class="button is-ghost has-text-dark has-text-weight-medium mr-2", href="#") Sign In
                                |                 
                                a(class="button is-warning", href="#") Sign Up
                div(class="is-hidden navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-sm", style="width: 75%; z-index: 9999;")
                    div(class="navbar-backdrop is-fixed is-inset-0 has-background-primary", style="opacity: 90%;")
                    nav(class="navbar is-light is-relative is-flex is-flex-direction-column px-6 py-6 has-background-white", style="width: 100%; height: 100%; overflow-y: auto")
                        div(class="mb-10 is-flex is-align-items-center")
                            a(class="navbar-item mr-auto title is-size-4 pl-0", href="#")
                                img(src="cronos-assets/logos/cronos-logo.svg", alt="", width="132")
                            button(class="navbar-close button is-text p-0 mb-2", type="button", aria-label="Close")
                                svg(xmlns="http://www.w3.org/2000/svg", style="width: 18px; height: 18px;", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            div(class="is-flex-direction-column")
                                a(class="navbar-item mb-4", href="#") About
                                |                 
                                a(class="navbar-item mb-4", href="#") Company
                                |                 
                                a(class="navbar-item mb-4", href="#") Services
                                |                 
                                a(class="navbar-item mb-4", href="#") Testimonials
                        div(class="mt-auto")
                            div(class="py-6")
                                a(class="button is-primary mb-2 is-fullwidth", href="#") Sign In
                                |                 
                                a(class="button is-warning is-fullwidth", href="#") Sign Up
                            p(class="has-text-grey-dark is-size-7 mb-4 has-text-centered") © 2026 All rights reserved.
            section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-5-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop")
                                h3(class="mb-14 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-7-desktop")
                            div(class="has-mw-md-desktop ml-auto-desktop is-relative")
                                img(class="is-absolute is-block-widescreen is-hidden-touch is-bottom-0 is-left-0", style="width: 160px; height: 160px; margin-left: -80px; z-index: 1;", src="cronos-assets/elements/light-squares.svg", alt="")
                                img(class="ml-20 is-absolute is-block-widescreen is-hidden-touch is-top-0 is-right-0", style="width: 160px; height: 160px; margin-right: -80px; z-index: 1;", src="cronos-assets/elements/warning-group-square.svg", alt="")
                                img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1478860409698-8707f313ee8b?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwzfHxtYXB8ZW58MHx8fHwxNzczNDg3ODIyfDA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
            section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-7-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop is-relative")
                                img(class="is-absolute is-block-widescreen is-hidden-touch is-bottom-0 is-left-0", style="width: 160px; height: 160px; margin-left: -80px; z-index: 1;", src="cronos-assets/elements/light-squares.svg", alt="")
                                img(class="ml-20 is-absolute is-block-widescreen is-hidden-touch is-top-0 is-right-0", style="width: 160px; height: 160px; margin-right: -80px; z-index: 1;", src="cronos-assets/elements/warning-group-square.svg", alt="")
                                img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1717700299581-c2fc3fad4ee8?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwyNHx8bWFwcGluZ3xlbnwwfHx8fDE3NzM0ODc5Njd8MA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
                        div(class="column is-12 is-5-desktop")
                            div(class="has-mw-md-desktop mx-auto")
                                h3(class="mb-14 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section")
                div(class="container")
                    div(class="has-mw-xl mx-auto")
                        div(class="pb-10 has-text-centered")
                            a(class="navbar-item pl-0 mb-10 is-inline-block title is-size-4", href="#")
                                img(src="cronos-assets/logos/cronos-logo.svg", alt="", width="132")
                            ul(class="mb-10 is-flex is-justify-content-center")
                                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") About
                                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") Company
                                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") Services
                                li
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") Testimonials
                            div(class="is-flex is-justify-content-center is-align-items-center")
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/facebook.svg", alt="")
                                |                 
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/twitter.svg", alt="")
                                |                 
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/Instagram.svg", alt="")
                                |                 
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/github.svg", alt="")
                                |                 
                                a(href="#")
                                    img(src="cronos-assets/logos/brands/LinkedIn.svg", alt="")
                        p(class="has-text-grey-dark is-size-7 pt-10 has-text-centered") All rights reserved © Cronos 2026
