doctype html
html(lang="en")
    head
        title QWC - QGIS Webclient
        include includes/head.pug
    body
        div(class="")
            section(class="has-background-light")
                nav(class="navbar has-background-light py-5 is-relative")
                    div(class="container is-fluid")
                        include includes/navbar-logo.pug
                        div(class="navbar-menu")
                            div(class="navbar-end")
                                include includes/menu.pug
                div(class="section pt-0")
                    div(class="container mt-8")
                        div(class="mb-12 is-vcentered columns is-multiline")
                            div(class="column is-12 is-6-desktop mb-20 mb-0-desktop")
                                div(class="has-mw-md-desktop")
                                    h2(class="title is-size-2 is-spaced has-text-primary mb-5") QGIS Webclient
                                    p(class="subtitle mb-6") Build a well-presented brand that everyone will love. Take care to develop resources continually and integrity them with previous projects.
                                    div(class="buttons")
                                        a(class="button is-primary", href="#") Track your performance
                                        |
                                        a(class="button is-dark", href="#") Learn More
                            div(class="column is-12 is-6-desktop")
                                img(class="image is-fullwidth", src="images/screens-responsive.png", alt="")
                div(class="is-hidden navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-sm", style="width: 75%; z-index: 9999;")
                    div(class="navbar-backdrop is-fixed is-inset-0 has-background-primary", style="opacity: 90%;")
                    nav(class="navbar is-light is-relative is-flex is-flex-direction-column px-6 py-6 has-background-white", style="width: 100%; height: 100%; overflow-y: auto")
                        include includes/hamburger-logo.pug
                        div
                            div(class="is-flex-direction-column")
                                include includes/menu.pug
            section(class="section")
                div(class="container")
                    div(class="columns is-multiline")
                        div(class="column is-12 is-6-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop")
                                span(class="tag is-warning") Lorem ipsum
                                h3(class="my-6 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                p(class="has-mw-sm-desktop subtitle") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                        div(class="column is-12 is-6-desktop")
                            div(class="columns is-multiline")
                                div(class="column is-12 is-6-desktop mb-10")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M14 40H40", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 40V34L34 8L40 14L14 40H8Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M34 20L28 14", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") Change of access
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="column is-12 is-6-desktop mb-10")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M8 14L24 6L40 14V34L24 42L8 34V14Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M30 18L18 30", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M18 18L30 30", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") No errors
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="column is-12 is-6-desktop mb-10 mb-0-desktop")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 23L22 29L34 17", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") Security in savings
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="column is-12 is-6-desktop")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M42 23.9999C42.006 28.6858 40.1784 33.1881 36.908 36.5439C35.2324 38.2727 33.2261 39.6466 31.0086 40.5839C28.791 41.5213 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5213 16.9914 40.5839C14.7739 39.6466 12.7676 38.2727 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0085C5.89036 26.1757 5.77815 23.1846 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42905 17.2309 7.31994C19.9638 6.21082 22.9273 5.79021 25.8608 6.0951C28.7943 6.39999 31.608 7.42105 34.0543 9.06846C36.5006 10.7159 38.5047 12.9392 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7626 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5147 29.9981 28.9944 30.5897 31.2374 31.7268C33.4803 32.8639 35.4232 34.5144 36.908 36.544", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") List of regular users
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-5-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop")
                                h3(class="mb-14 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-7-desktop")
                            div(class="has-mw-md-desktop ml-auto-desktop is-relative")
                                img(class="is-absolute is-block-widescreen is-hidden-touch is-bottom-0 is-left-0", style="width: 160px; height: 160px; margin-left: -80px; z-index: 1;", src="cronos-assets/elements/light-squares.svg", alt="")
                                img(class="ml-20 is-absolute is-block-widescreen is-hidden-touch is-top-0 is-right-0", style="width: 160px; height: 160px; margin-right: -80px; z-index: 1;", src="cronos-assets/elements/warning-group-square.svg", alt="")
                                img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1478860409698-8707f313ee8b?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwzfHxtYXB8ZW58MHx8fHwxNzczNDg3ODIyfDA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
            section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-7-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop is-relative")
                                img(class="is-absolute is-block-widescreen is-hidden-touch is-bottom-0 is-left-0", style="width: 160px; height: 160px; margin-left: -80px; z-index: 1;", src="cronos-assets/elements/light-squares.svg", alt="")
                                img(class="ml-20 is-absolute is-block-widescreen is-hidden-touch is-top-0 is-right-0", style="width: 160px; height: 160px; margin-right: -80px; z-index: 1;", src="cronos-assets/elements/warning-group-square.svg", alt="")
                                img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1717700299581-c2fc3fad4ee8?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwyNHx8bWFwcGluZ3xlbnwwfHx8fDE3NzM0ODc5Njd8MA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
                        div(class="column is-12 is-5-desktop")
                            div(class="has-mw-md-desktop mx-auto")
                                h3(class="mb-14 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section")
                include includes/footer.pug
