html(lang="en")
    head
        title QWC - QGIS Webclient
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inter:400&subset=latin")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/bulma/bulma.min.css")
        link(rel="icon", type="image/vnd.microsoft.icon", href="images/favicon.ico")
        script(src="js/main.js")
    body
        div(class="")
            section(class="has-background-light")
                nav(class="navbar has-background-light py-5 is-relative")
                    div(class="container is-fluid")
                        div(class="navbar-brand is-justify-content-space-between")
                            a(class="navbar-item pl-0 title mb-0 is-size-4", href="#")
                                img(src="images/logo-qwc.svg", alt="", width="100")
                            button(class="button is-ghost is-hidden-desktop navbar-menu-open")
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z", fill="#006251")
                        div(class="navbar-menu")
                            div(class="navbar-start")
                                a(class="navbar-item", href="#") About
                                |                 
                                |                 
                                a(class="navbar-item", href="#") Services
                                |                 
                                a(class="navbar-item", href="#") Testimonials
                            div(class="navbar-end is-block-desktop is-hidden-touch")
                                a(class="button is-warning", href="#") Contact Us
                div(class="section pt-0")
                    div(class="container mt-8")
                        div(class="mb-12 is-vcentered columns is-multiline")
                            div(class="column is-12 is-6-desktop mb-20 mb-0-desktop")
                                div(class="has-mw-md-desktop")
                                    h2(class="title is-size-2 is-spaced has-text-primary mb-5") Take care of your performance every day.
                                    p(class="subtitle mb-6") Build a well-presented brand that everyone will love. Take care to develop resources continually and integrity them with previous projects.
                                    div(class="buttons")
                                        a(class="button is-primary", href="#") Track your performance
                                        |                     
                                        a(class="button is-dark", href="#") Learn More
                            div(class="column is-12 is-6-desktop")
                                img(class="image is-fullwidth", src="cronos-assets/images/example-scene.png", alt="")
                        div(class="has-text-centered")
                            a(class="has-text-grey-dark is-size-7", href="#")
                                svg(xmlns="http://www.w3.org/2000/svg", class="has-text-grey-dark mb-2", width="9", height="12", viewbox="0 0 9 12", fill="none")
                                    path(d="M5 10.2929L8.14645 7.14645C8.34171 6.95118 8.65829 6.95118 8.85355 7.14645C9.04882 7.34171 9.04882 7.65829 8.85355 7.85355L4.85355 11.8536C4.65829 12.0488 4.34171 12.0488 4.14645 11.8536L0.146447 7.85355C-0.0488155 7.65829 -0.0488155 7.34171 0.146447 7.14645C0.341709 6.95118 0.658291 6.95118 0.853553 7.14645L4 10.2929V0.5C4 0.223858 4.22386 0 4.5 0C4.77614 0 5 0.223858 5 0.5V10.2929Z", fill="currentColor")
                                span(class="has-text-grey-dark is-block") Scroll to see benefits
                div(class="is-hidden navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-sm", style="width: 75%; z-index: 9999;")
                    div(class="navbar-backdrop is-fixed is-inset-0 has-background-primary", style="opacity: 90%;")
                    nav(class="navbar is-light is-relative is-flex is-flex-direction-column px-6 py-6 has-background-white", style="width: 100%; height: 100%; overflow-y: auto")
                        div(class="mb-10 navbar-brand")
                            a(class="navbar-item mr-auto title is-size-4 pl-0", href="#")
                                img(src="images/logo-qwc.svg", alt="", width="100")
                            button(class="navbar-close button is-text p-0 mb-2", type="button", aria-label="Close")
                                svg(xmlns="http://www.w3.org/2000/svg", style="width: 18px; height: 18px;", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            div(class="is-flex-direction-column")
                                a(class="navbar-item mb-4", href="#") About
                                |                 
                                a(class="navbar-item mb-4", href="#") Company
                                |                 
                                a(class="navbar-item mb-4", href="#") Services
                                |                 
                                a(class="navbar-item mb-4", href="#") Testimonials
                        div(class="mt-auto")
                            div(class="py-6")
                                a(class="button is-primary is-fullwidth", href="#") Contact Us
                            p(class="is-size-7 mb-4 has-text-centered") © 2026 All rights reserved.
            section(class="section")
                div(class="container")
                    div(class="columns is-multiline")
                        div(class="column is-12 is-6-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop")
                                span(class="tag is-warning") Lorem ipsum
                                h3(class="my-6 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                p(class="has-mw-sm-desktop subtitle") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                        div(class="column is-12 is-6-desktop")
                            div(class="columns is-multiline")
                                div(class="column is-12 is-6-desktop mb-10")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M14 40H40", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 40V34L34 8L40 14L14 40H8Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M34 20L28 14", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") Change of access
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="column is-12 is-6-desktop mb-10")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M8 14L24 6L40 14V34L24 42L8 34V14Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M30 18L18 30", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M18 18L30 30", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") No errors
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="column is-12 is-6-desktop mb-10 mb-0-desktop")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 23L22 29L34 17", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") Security in savings
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="column is-12 is-6-desktop")
                                    span
                                        svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewbox="0 0 48 48", fill="none")
                                            path(d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M42 23.9999C42.006 28.6858 40.1784 33.1881 36.908 36.5439C35.2324 38.2727 33.2261 39.6466 31.0086 40.5839C28.791 41.5213 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5213 16.9914 40.5839C14.7739 39.6466 12.7676 38.2727 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0085C5.89036 26.1757 5.77815 23.1846 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42905 17.2309 7.31994C19.9638 6.21082 22.9273 5.79021 25.8608 6.0951C28.7943 6.39999 31.608 7.42105 34.0543 9.06846C36.5006 10.7159 38.5047 12.9392 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7626 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5147 29.9981 28.9944 30.5897 31.2374 31.7268C33.4803 32.8639 35.4232 34.5144 36.908 36.544", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 is-size-4") List of regular users
                                    p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-5-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop")
                                h3(class="mb-14 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-7-desktop")
                            div(class="has-mw-md-desktop ml-auto-desktop is-relative")
                                img(class="is-absolute is-block-widescreen is-hidden-touch is-bottom-0 is-left-0", style="width: 160px; height: 160px; margin-left: -80px; z-index: 1;", src="cronos-assets/elements/light-squares.svg", alt="")
                                img(class="ml-20 is-absolute is-block-widescreen is-hidden-touch is-top-0 is-right-0", style="width: 160px; height: 160px; margin-right: -80px; z-index: 1;", src="cronos-assets/elements/warning-group-square.svg", alt="")
                                img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1478860409698-8707f313ee8b?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwzfHxtYXB8ZW58MHx8fHwxNzczNDg3ODIyfDA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
            section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-7-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop is-relative")
                                img(class="is-absolute is-block-widescreen is-hidden-touch is-bottom-0 is-left-0", style="width: 160px; height: 160px; margin-left: -80px; z-index: 1;", src="cronos-assets/elements/light-squares.svg", alt="")
                                img(class="ml-20 is-absolute is-block-widescreen is-hidden-touch is-top-0 is-right-0", style="width: 160px; height: 160px; margin-right: -80px; z-index: 1;", src="cronos-assets/elements/warning-group-square.svg", alt="")
                                img(class="image is-fullwidth is-cover", style="height: 100%", src="https://images.unsplash.com/photo-1717700299581-c2fc3fad4ee8?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwyNHx8bWFwcGluZ3xlbnwwfHx8fDE3NzM0ODc5Njd8MA&ixlib=rb-4.1.0&q=85&w=1920", alt="")
                        div(class="column is-12 is-5-desktop")
                            div(class="has-mw-md-desktop mx-auto")
                                h3(class="mb-14 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar domor at elis
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Check of access
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="mb-6 is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") Security in savings
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                                div(class="is-flex is-align-items-start")
                                    span(class="mr-4")
                                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24", fill="none")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 has-text-weight-bold is-size-4") List of regular users
                                        p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section")
                div(class="container")
                    div(class="has-mw-xl mx-auto")
                        div(class="pb-10 has-text-centered")
                            a(class="navbar-item pl-0 mb-10 is-inline-block title is-size-4", href="#")
                                img(src="cronos-assets/logos/cronos-logo.svg", alt="", width="132")
                            ul(class="mb-10 is-flex is-justify-content-center")
                                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") About
                                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") Company
                                li(class="mb-5 mb-0-desktop mr-6 mr-12-desktop")
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") Services
                                li
                                    a(class="is-size-6 has-text-grey-dark has-text-weight-bold", href="#") Testimonials
                            div(class="is-flex is-justify-content-center is-align-items-center")
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/facebook.svg", alt="")
                                |                 
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/twitter.svg", alt="")
                                |                 
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/Instagram.svg", alt="")
                                |                 
                                a(class="mr-10", href="#")
                                    img(src="cronos-assets/logos/brands/github.svg", alt="")
                                |                 
                                a(href="#")
                                    img(src="cronos-assets/logos/brands/LinkedIn.svg", alt="")
                        p(class="has-text-grey-dark is-size-7 pt-10 has-text-centered") All rights reserved © Cronos 2026
